div#header {
    background-color: #4A2D74;
    text-align:center;
}
div#title1 {
    margin-top: 60px; 
}
div#subtitle1 {
    margin-top: 20px; 
    margin-bottom: 60px;
}
/*div#body1_container {
    
}*/
div#body1_item {
    width: 500px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
span#title2 {
    font-family: 'Indie Flower', cursive;
    color: #8D88AD;
    font-size: 60px;
    font-weight: bold;
}
span#subtitle2 {
    font-family: Arial, 'Arial Black', Tahoma, 'Trebuchet MS', Verdana;
    font-style: italic;
    color: #684D90;
    font-size: 20px;
}
span#tag {
     background-color: #e0e0e0;
     top: -2px;
     font-size: 0.6em;
     padding: 2px 4px 1px;
}
h2#acc {
    color: #8D88AD;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}