body{
    margin: 0px;
}
header {
    background-color: #4A2D74;
    text-align:center;
    width: 100%;
    height: 250px;
    border: 0px;
    margin: -20px 0px 0px;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 2px 5px 5px lightgray;
}
footer {
    background-color: #4A2D74;
    text-align:center;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    color: white;
}

a
{
    text-decoration: none;
    color: darkorchid;
    font-family:'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.1rem;
}

a:hover
{
    background:darkorchid;
    color:white;
}

#body2 a
{
    color: darkorchid;
}

#body2 a:hover
{
    background: white;
    color: #8D88AD;
}

div#title1 {
    padding-top: 60px; 
}
div#subtitle1 {
    padding-top: 20px; 
    padding-bottom: 60px;
}
div#slider {
    padding-top: 250px;
    width: 100%;
}
div.body1 {
    position: relative;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}
div.body1 div.body1_container {
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;
}
div.body1_container div.body1_item {
    width: 460px;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
div#body2 {
    background-color: #8D88AD;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
span#title2 {
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
}
span#subtitle2 {
    font-family: Arial, 'Arial Black', Tahoma, 'Trebuchet MS', Verdana;
    font-style: italic;
    color: #8D88AD;
    font-size: 20px;
}
span#tag {
     background-color: #e0e0e0;
     top: -2px;
     font-size: 0.6em;
     padding: 2px 4px 1px;
}
span#indent {
    margin-left: 40px;
}
h2#acc {
    color: #8D88AD;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}
h2#accw {
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}
.border {
    border: 3px dashed #4A2D74;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}