body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    height: 112px;
    max-width: 1090px;
    display: block;
    text-align: left;
    padding: 0px 40px;
    margin: 0px auto;
    position: relative;
}

h1#logo {
    height: 38px;
    width: 152px;
    padding: 30px 0px 37px 0px;
    margin: 0px 100px 0px 130px;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: #fd95ad;
    display: inline-block;
}

.logo {
    align-content: center;
    display: inline-block;
}

.logo > img {
    height: 38px;
    width: 152px;
}

header>ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    height: 112px;
}
header>ul>li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    list-style: none;
}
header>ul>li>a {
    display: block;
    width: 170px;
    font-size: 17px;
    color: #8a8383;
    font-weight: bold;
    padding: 47px 0px;
    text-align: center;
}
header>ul>li>a:link, a:visited {
    color: #8a8383;
}

.menu {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
}

.banner {
    background-color: #000;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 495px;
}
.banner>.wrap {
    margin: 0px;
    padding: 0px;
    width: 1170px;
    height: 495px;
    background-color: #444;
    display: inline-block;
}

.history {
    background-color: #fff;
}
.history>.wrap {
    max-width: 1170px;
    margin: 0px auto;
}
.history>.wrap>.container {
    text-align: left;
    max-width: 870px;
    display: block;
    margin: 55px auto 80px auto;
}
h2.title {
    font-size: 24pt;
    font-weight: bold;
}

h2.pink {
    margin-bottom: 80px;
    margin-left: 20px;
    color: #fd95ad;
}

h2.white {
    color: white;
    margin: 0px;
}

.table>table {
    border-spacing: 0px;
    margin: 0px 20px;
    font-size: 16px;
}
.table>table th {
    padding: 0px;
    min-width: 160px;
    width: 18%;
    height: 64px;
    border-top: 1px solid #a2a5b2;
    color: #70bbf5;
}
.table>table td {
    border-top: 1px solid #a2a5b2;
}

.gray {
    color: rgb(198,215,220);
}

.contact {
    background-color: rgb(29,161,242);
    text-align: center;
}
.contact>.wrap {
    width: 1170px;
    display: inline-block;
    margin: 14px 0px;
}

.contact>.wrap>.container {
    max-width: 870px;
    display: block;
    margin: 0px auto;
    display: flex;
    display: -webkit-flex;
}

.contact>.wrap>.container>#left {
    width: 410px;
    display: block;
    float:left;
    padding-top: 37px;
    margin-left: 20px;
    text-align: left;
    height: 640px;
    color: white;
    border-right: 1px solid rgb(142, 208, 249);
}
span.DM {
    height: 38px;
    padding-top: 2px;
    vertical-align: middle;
    background-image: url('../image/DM.png');
    background-repeat: no-repeat;
    font-weight: normal;
    padding-left: 48px;
    display: block;
    text-align: left;
}
span.twt {
    height: 38px;
    padding-top: 4px;
    vertical-align: middle;
    background-image: url('../image/twet.png');
    background-repeat: no-repeat;
    font-weight: normal;
    padding-left: 48px;
    display: block;
    text-align: left;
    margin-top: 12px;
}
.contact>.wrap>.container>#left>div {
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}
.contact>.wrap>.container>#right{
    display: block;
    text-align: left;
    padding-left: 30px;
}
.contact>.wrap>.container>#right>#tweet {
    width: 420px;
    max-height: 610px;
    margin-top: 19px;
    margin-bottom: 19px;
    display: inline-block;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    background-color: rgb(26,27,28);
    text-align: center;
    color: rgb(119,114,114);
    padding: 40px 0px;
}