@media screen and (min-width: 1170px) {
    header {
        height: 112px;
    }
    h1#logo {
        height: 38px;
        max-width: 392px;
        margin: 0px auto;
        display: block;
    }
    .logo {
        padding: 48px 0px;
        width: 152px;
        background-size: 152px 38px;
    }
    nav {
        height: 112px;
        width: 680px;
    }
    nav div {
        padding-top: 38px;
        max-width: 170px;
        margin-top: 7px;
    }
    #left {
        width: 410px;
        border-right: 1px solid rgb(142, 208, 249);
        float:left;
        height: 640px;
        padding-top: 37px;
    }
    #right>#tweet {
        width: 420px;
    }
    .table>table th {
        min-width: 160px;
    }
    #historylist {
        display: none;
    }
    h1#logo {
        padding-left: 100px;
    }
}
@media screen and (max-width: 1170px) {
    header {
        height: 100px;
        flex-direction: column;
    }
    h1#logo {
        max-width: 392px;
        margin: 0px auto;
        display: block;
    }
    .logo {
        padding: 10px 0px;
        width: 76px;
        height: 19px;
        background-size: 76px 19px;
    }
    nav {
        width: 100%;
        align-self: flex-end;
        
    }
    nav div {
        width: 25%;
        padding-top: -7px;
        margin-top: 7px;
    }
    nav div>a {
        margin: 0px;
        padding-top: 5px;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 2vh;
    }
    .contact>.wrap>.container {
        flex-wrap: wrap;
    }
    
    #left {
        width: 100%;
        text-align: center;
        margin: 0px auto;
        height: 400px;
        padding-top: 160px;   
        
    }
    #left>h2 {
        margin: 0px auto;
        max-width: 200px;
        display: block;
        text-align: center;
    }
    span.DM {
        margin: 0px auto;
        max-width: 200px;
    }
    span.twt {
        margin: 0px auto;
        max-width: 200px;
    }
    #right {
        width: 80%;
        background-color: white;
        margin: 0px auto;
        padding-right: 30px;
    }
    #right>#tweet {
        width: 110%;
    }
    .table {
        display: none;
    }
    
    .banner>.wrap {
        height: auto !important;
    }
}

/* common classes */
body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    max-width: 1130px;
    text-align: left;
    padding: 0px 20px;
    margin: auto;
    position: relative;
    display: flex;
}

footer {
    background-color: rgb(26,27,28);
    text-align: center;
    color: rgb(119,114,114);
    padding: 40px 0px;
}

.pborder {
    border-top: 7px solid #fd95ad;
    margin-top: 0px !important; 
}

h2.pink {
    color: #fd95ad;
}

h2.white {
    color: white;
    margin: 0px;
}

.white {
    color: white;
}
.white:link, .white:visited {
    color: white;
}

.black {
    color: black;
}
.black:link, .black:visited {
    color: black;
}

.gray {
    color: rgb(198,215,220);
}

.graybg {
    background-color: #444;
}

.mint {
    color: rgb(0, 226, 170);
}

.mintbg {
    background-color: rgb(0, 226, 170);
}

.blackbg {
    background-color: #000;
}

.pinkbg {
    background-color: #fd95ad;
}

.bluebg {
    background-color: rgb(29,161,242);
}

.sbutton {
    height: 40px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
}

.fs15 {
    font-size: 15px;
}

.fs20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

div.bold {
    margin: 30px auto;
}

.nobordercont > * {
    border-width: 0px !important;
}
.nobordercont > th {
    vertical-align: top;
}
.nobordercont > td {
    margin-bottom: 30px;
    display: block;
}

/* tag classes/specific classes */

.logo {
    align-content: center;
    display: inline-block;
    background-image: url(../image/Logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 7px;
}

nav {
    margin: auto;
    flex: initial;
    display: flex;
}
nav div {
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

nav div>a {
    display: block;
    max-width: 170px;
    color: #8a8383;
}

.banner {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.banner>.wrap {
    margin: 0px auto;
    padding: 0px;
    max-width: 1170px;
    height: 495px;
    display: block;
}

#wmain>.wrap {
    max-width: 1170px;
    margin: 0px auto;
}
#wmain>.wrap>.container {
    text-align: left;
    max-width: 870px;
    display: block;
    margin: 55px auto 80px auto;
}
#wmain>.wrap>.container>* {
    margin-left: 20px;
    margin-right: 20px;
}

h2.title {
    font-size: 24pt;
    font-weight: bold;
}

.mt80 {
    margin-top: 80px;
}

.table>table {
    border-spacing: 0px;
    font-size: 16px;
}
.table>table th {
    padding: 0px;
    width: 18%;
    height: 64px;
    border-top: 1px solid #a2a5b2;
    color: #70bbf5;
}
.table>table td {
    border-top: 1px solid #a2a5b2;
}

#historylist {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#historylist li {
    margin: 0px 20px;
    
}

span.subth {
    padding: 10px 0px;
    width: 100%;
    border-top: 1px solid #a2a5b2;
    color: #70bbf5;
    font-weight: bold;
    display: block;
}
span.subtd {
    display: block;
    margin-bottom: 10px;
    margin-left: 18%;
    font-size: 16px;
}

.contact {
    background-color: rgb(29,161,242);
    text-align: center;
}
.contact>.wrap {
    max-width: 1170px;
    display: inline-block;
    margin: 14px 0px;
}

.contact>.wrap>.container {
    max-width: 870px;
    margin: 0px auto;
    display: flex;
}

#left {
    display: block;
    margin-left: 20px;
    text-align: left;
    color: white;
}
span.DM {
    height: 38px;
    padding-top: 2px;
    vertical-align: middle;
    background-image: url('../image/DM.png');
    background-repeat: no-repeat;
    font-weight: normal;
    padding-left: 48px;
    display: block;
    text-align: left;
}
span.twt {
    height: 38px;
    padding-top: 4px;
    vertical-align: middle;
    background-image: url('../image/twet.png');
    background-repeat: no-repeat;
    font-weight: normal;
    padding-left: 48px;
    display: block;
    text-align: left;
    margin-top: 12px;
}

#right{
    display: block;
    text-align: left;
    padding-left: 30px;
}
#right>#tweet {
    max-height: 610px;
    margin-top: 19px;
    margin-bottom: 19px;
    display: inline-block;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.part {
    height: 495px;
    display: block;
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.part>div {
    padding-top: 100px;
    color: rgb(211,211,211);
}
#parth1 {
    padding-bottom: 55px;
}
#parth2 {
    padding-top: 70px;
}

#partbutton {
    max-width: 280px;
    display: block;
    margin: 30px auto;
}

#publishbutton {
    max-width: 140px;
    display: block;
    padding: auto 35px;
    margin: 0px auto;
}

#qna_cont {
    padding: 30px 0px;
    margin: 0px auto !important;
}

#qna {
    border-collapse: collapse;
}
#qna tr th:nth-child(1) {
    white-space: nowrap;
}
#qna tr th:nth-child(2) {
    padding-left: 10px;
}
#qna tr th {
    vertical-align: top;
}
#qna tr td {
    padding-bottom: 40px;
    padding-left: 10px;
}

.diff tr th:nth-child(2) {
    padding-left: 0px !important;
}
.diff tr td {
    padding-left: 0px !important;
}

#part_done {
    max-width: 600px;
    text-align: center !important;
    background-image: url(../image/done.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    padding-top: 140px;
}

#done_button {
    width: 210px;
    font-weight: bold;
    margin: 80px auto;
    
}