body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    height: 112px;
    width: 1170px;
    display: inline-block;
    text-align: left;
    margin: 0px 40px;
    position: relative;
}

h1#logo {
    height: 38px;
    width: 152px;
    padding: 30px 0px 37px 0px;
    margin: 0px 130px;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: #fd95ad;
    display: inline-block;
    
}

.logo {
    align-content: center;
    display: inline-block;
    
}

.logo > img {
    height: 38px;
    width: 152px;
}

header>ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    height: 112px;
}
header>ul>li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    list-style: none;
}
header>ul>li>a {
    display: block;
    width: 170px;
    font-size: 17px;
    color: #8a8383;
    font-weight: bold;
    padding: 47px 0px;
    text-align: center;
}
header>ul>li>a:link, a:visited {
    color: #8a8383;
}

.banner {
    background-color: #000;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 495px;
}
.banner>.wrap {
    margin: 0px;
    padding: 0px;
    width: 1170px;
    height: 495px;
    background-color: #444;
    display: inline-block;
}

.history {
    background-color: #fff;
    text-align: center;
}
.history>.wrap {
    text-align: left;
    width: 880px;
    margin-top: 55px;
    margin-left: 170px;
    display: inline-block;
}
h2.title1 {
    color: #fd95ad;
    font-size: 17px;
}